body {
background-image: url(bg1.jpg);
margin: 0;
height: 100vh;
display: flex;
justify-content: center;  
align-items: center;      
font-family: 'Press Start 2P', cursive;
}

.container {
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}

h1{
font-size: 80px;
letter-spacing: 10px;
color: #23100f ;
font-weight: bold;
text-shadow: 3px 3px 0px #fe938cff;
display: inline-block;
animation: bounce 0.6s infinite alternate;
}

button{
font-family: 'Press Start 2P', cursive;
background-color: #fe938cff;
color: #23100f;
font-size: 20px;
font-weight: bold;
border: 5px solid #23100f ;
cursor: pointer;
padding: 10px;
}

button:hover{
transform: scale(1.1);
transition: all 0.3s ease;
}


@keyframes bounce {
from {
  transform: translateY(0);
}
to {
  transform: translateY(-20px);
}
}
