body {
    background-image: url(bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 50px;
    letter-spacing: 10px;
    color: #23100f;
    font-weight: bold;
    text-shadow: 3px 3px 0px #fe938cff;
    text-align: center;
    margin-top: 40px;
}

h4,
.loader {
    align-self: center;
}

h2 + h4 {
    margin-top: 80px;
}

h4 {
    color: #23100f;
    text-align: center;
    margin: 20px 0;
    min-height: 50px; 
}


.loader {
    width: 60px;
    height: 60px;
    border: 5px dashed #23100f;
    border-radius: 50%;
    margin-top: 40px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
